@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
 
.parent1
{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;

} 
.heading{
    font-family: 'Arvo', serif;
    font-size: large;
    font-style: oblique;
} 
h1{
    font-style: oblique;
    color: deeppink;
}
